# Ignora o ambiente virtual
.venv/
venv/
env/

# Ignora arquivos de cache do Python
__pycache__/
*.pyc

# Ignora arquivos específicos do Pygame ou do sistema
*.swp
*~
.DS_Store

# Ignora logs ou outros arquivos gerados
*.log